# Backend
target/
*.log

# Frontend
node_modules/
dist/
build/

# Environment files
.env
application.properties
application-prod.properties

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

.vscode/
